<div class="mat-app-background content">
<mat-card>
    <h1 class="display-1 head">Nice Looking Header Bro!</h1>
    <ul>
        <li class="text" *ngFor="let user of users | async">
          {{ user.name }}
          {{ user.age }}
          {{ user.framework }}
        </li>
      </ul>
      <h2 class="headline" style="text-align: center"> Md-Table is cool! </h2>
    <mat-grid-list cols="8" rowHeight="100px">
      <mat-grid-tile colspan="3" rowspan="1" style="background: red">First</mat-grid-tile>
      <mat-grid-tile colspan="5" rowspan="1" style="background: orange">Second</mat-grid-tile>
    </mat-grid-list>
      <p>
          Options selected: {{ selectedItems.selectedOptions.selected.length }}
      </p>
      <p>
        Items Ordered:
        <mat-list dense>
          <mat-list-item *ngFor="let option of selectedOptions">
            {{ option.name }}
          </mat-list-item>
        </mat-list>
      </p>
<button mat-button (click)="showItems()">Show Items</button>
      <mat-selection-list dense #selectedItems>
          <mat-list-option
           *ngFor="let item of ( items | async ) let odd=odd; let even=even"
           (selectChange)="selectedItem($event)"
           [ngClass]="{ odd: odd, even:even}"
           (click)="handleItemClick(item)"
           [value]="item">
              {{ item.name }}
              {{ item.number }}
          </mat-list-option>
      </mat-selection-list>
</mat-card>
</div>